footer{
    background-color: map-get($colores, colorSecundario);
    div{
        display: flex;
        justify-content: space-evenly;
        img{
            width: 3.125rem;
        }
        p{
            color: map-get($colores, colorPrecio);
        }
        p:hover{
            color: #4FFF40;
            text-shadow: 0 0 10px #4FFF40,
                        0 0 20px #4FFF40,
                        0 0 30px #4FFF40;
        }
    }
}