header{
    background-color: map-get($colores, colorSecundario);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0;

    a{
        img{
            width: 12.5rem;
            height: 5.3125rem;
        }
    }

    label{
        cursor: pointer;
        display: none;
    }

    nav{
        
        ul{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 1.875rem;
            gap: 3.125rem;
            list-style-type: none;
            text-align: center;
                li{
                    a{
                    color: map-get($colores, colorPrecio);
                    font-size: 1.25rem;
                    text-decoration: none;
                    display: inline-block;
                    position: relative;
                    }
                }
            }
    }
    .menu-icono{
        width: 1.875rem;
    }
    #menu{
        display: none;
    }
}


