main{
        h1{
            margin-top: 10px;
        }
    .card-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1.25rem;
    }
    .card{
        width: 31.25rem;
        background-color: map-get($colores, colorSecundario);
        margin: 1.25rem;
        border-radius: .5rem;
        overflow: hidden;
        

    }
    .card:hover{
        color: #4FFF40;
        text-shadow: 0 0 10px #4FFF40,
                    0 0 20px #4FFF40,
                    0 0 30px #4FFF40;
    }


    .card-content{
        padding: 1rem;

    }
    .card-content h3{
        font-size: 1.5rem;
        color: map-get($colores, colorPrecio);
        text-align: center;
    }

    .card-content p{
        color: map-get($colores, colorPrecio);
        font-size: 1.125rem;
        text-align: center;
    }
    .card-content .button{
        display: inline-block;
        padding: .5rem 1rem;
        background-color: white;
        text-decoration: none;
        border-radius: 20px;
    }
    .card-content a{
        color: map-get($colores, colorPrincipal);
        
    }
    section{
        .div-buzo-inicio{
            display: flex;
            justify-content: center;
        }
        p{
            color: map-get($colores, colorPrecio);
            padding: 20px;
        }
        h2{
            color: map-get($colores, colorPrecio);
            text-align: center;
        }
    }
    .card-remeras{
        background-color: map-get($colores, colorSecundario);
        margin: .625rem;
        border-radius: .5rem;
        overflow: hidden;
    }
    .card-remeras img{
        height: 31.25rem;
    }
    .card-remeras:hover{
        color: #4FFF40;
        text-shadow: 0 0 10px #4FFF40,
                    0 0 20px #4FFF40,
                    0 0 30px #4FFF40;
    }
    .card-buzos{
        background-color: map-get($colores, colorSecundario);
        margin: .625rem;
        border-radius: .5rem;
        overflow: hidden;
    }
    .card-buzos img{
        height: 31.25rem;
    }
    .card-buzos:hover{
        color: #4FFF40;
        text-shadow: 0 0 10px #4FFF40,
                    0 0 20px #4FFF40,
                    0 0 30px #4FFF40;
    }
    .card-marcas{
        background-color: map-get($colores, colorSecundario);
        margin: .625rem;
        border-radius: .5rem;
        overflow: hidden;
    }
    .card-marcas img{
        width: 21.875rem;
        height: 31.25rem;
    }
    .card-marcas:hover{
        color: #4FFF40;
        text-shadow: 0 0 10px #4FFF40,
                    0 0 20px #4FFF40,
                    0 0 30px #4FFF40;
    }
    .contacto{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .contacto{
    div{
        p{
            text-align: center;
            color: map-get($colores, colorPrecio);
        }
        ul{
            li{
                a{
                    img{
                        width: 6.25rem;
                        height: 6.25rem;
                        margin: 0;
                    }
                }
            }
        }
    }
}
@keyframes show {
	from {
		opacity: 0;
		scale: 25%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}

}
.card-remeras{
    view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
    
}
.card-buzos{
    view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
    
}
.card-marcas{
    view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
    
}
.contacto{
    view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}
.section-principal{
    view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}
.card{
    view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}
.button:hover{
    font-weight: bold;
    color: black;
        text-shadow: 0 0 10px #4FFF40,
                    0 0 20px #4FFF40,
                    0 0 30px #4FFF40;
}
